@model IEnumerable<User>

@{
    ViewData["Title"] = "User Friends";
    var usersMarkedAsMet = (IEnumerable<Guid>) ViewBag.MarkedAsMet;
    var usersMet = (IEnumerable<Guid>)ViewBag.UsersMet;
}

@if (Model.Any())
{
    <div class="grey darken-3 z-depth-3" style="padding: 1vw; margin-top: -10px;">
        <div class="center">
            <p class="white-text" style="font-size: 3vw;">Friends<i style="vertical-align: bottom; font-size: 4vw !important;" class="inline-icon material-icons">group</i></p>
        </div>
    </div>
}
else
{
    <div class="valign-wrapper my-wrapper row">
        <div class="col s12">
            <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
            <h1 class="orange-text center"> Your friend list seems to be empty. Try add some friends <a asp-controller="Explore" asp-action="Index">here</a></h1>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col m4">
                <div class="card">
                    <div class="card-image inline">
                        <img src="~/images/userimages/@Html.DisplayFor(m => item.ProfileImageSrc)">
                        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">
                            @Html.DisplayFor(m => item.FirstName)  @Html.DisplayFor(m => item.LastName)
                        </span>
                    </div>
                    <div class="card-action grey">
                        <div class="center">
                            <a class="btn btn-large rounded red tooltipped" data-position="top" data-tooltip="Delete Friend" asp-controller="Friendships" asp-action="Delete" asp-route-id="@item.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                <i class="large material-icons">delete</i>
                            </a>
                            <a class="btn btn-large rounded blue tooltipped" data-position="top" data-tooltip="Show Details" asp-controller="User" asp-action="Profile" asp-route-id="@item.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                <i class="large material-icons">info</i>
                            </a>
                            @if (!usersMarkedAsMet.Contains(item.Id) || !usersMet.Contains(item.Id))
                            {
                                <a class="btn btn-large rounded green tooltipped" data-position="top" data-tooltip="Mark as met" asp-controller="Meet" asp-action="Meet" asp-route-id="@item.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                    <i class="large material-icons">how_to_reg</i>
                                </a>
                            }
                            @{
                                var goldStars = 3;
                            }
                            <div class="no-cursor">
                                <h4 class="card-title center">

                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < goldStars)
                                        {
                                            <a><i class="material-icons yellow-text">grade</i></a>
                                        }
                                        else
                                        {
                                            <a><i class="material-icons white-text ">grade</i></a>
                                        }
                                    }
                                </h4>
                                <h6 class="medium-small yellow-text center"><b>Rating</b></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>