@using App.Model.Assigned
@using App.Model.Enumerations
@model ApplicationUserViewModel
@{
    ViewData["Title"] = "Edit Profile";
}

<div class="grey darken-3 z-depth-3" style="padding: 1vw; margin-top: -10px;">
    <div class="center">
        <p class="white-text" style="font-size: 3vw;">@ViewData["Title"]<i style="vertical-align: bottom; font-size: 4vw !important;" class="inline-icon material-icons">edit</i></p>
    </div>
</div>
<br />
<div class="container">
    @if (!ViewBag.isFilled)
    {
        <div class="row">
            <h1 class="orange-text center">Fill your profile before you start to browse it </h1><i class="material-icons large"></i>
        </div>
    }
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-3 grey lighten-3">
                <form asp-action="Edit" id="Form" asp-route-returnURL="@ViewBag.ReturnURL" class="card-content">
                    <div asp-validation-summary="ModelOnly" class="red-text"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="UserName" />
                    <input type="hidden" asp-for="PasswordHash" />
                    <span class="card-title">In the form below you can edit your profile details</span>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix"></i>
                            <input asp-for="FirstName" />
                            <label asp-for="FirstName"></label>
                            <span asp-validation-for="FirstName" class="red-text"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix"></i>
                            <input asp-for="LastName" />
                            <label asp-for="LastName"></label>
                            <span asp-validation-for="LastName" class="red-text"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix"></i>
                            <input asp-for="Description" />
                            <label asp-for="Description"></label>
                            <span asp-validation-for="Description" class="red-text"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 offset-l2">
                            <div class="col s12 m6">
                                <span class="card-title">Gender</span>
                                @foreach (var x in Enum.GetValues(typeof(Gender)).OfType<Gender>())
                                {
                                    <div>
                                        <label>
                                            <input value="@x" name="selectedGender" type="radio"
                                                   @(Html.Raw(x == Model.Gender ? "checked='checked'" : "")) />
                                            <span>@x</span>
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="col s12 m6">
                                <span class="card-title">Eyes</span>
                                @foreach (var x in Enum.GetValues(typeof(Eyes)).OfType<Eyes>())
                                {
                                    <div>
                                        <label>
                                            <input value="@x" name="selectedEyes" type="radio"
                                                   @(Html.Raw(x == Model.Eyes ? "checked='checked'" : "")) />
                                            <span>@x</span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix"></i><label asp-for="BirthDate"></label><br />
                            <p class="range-field"><input type="text" value="@Model.BirthDate.ToString().Remove(Model.BirthDate.ToString().Length - 9)" class="datepicker" asp-for="BirthDate" /></p>
                            <span asp-validation-for="BirthDate" class="red-text"></span>
                        </div>
                    </div>
                    <div class="input-field">
                        <i class="prefix"></i><label asp-for="Weight"></label><br />
                        <p class="range-field"><input type="range" id="weightRange" min="40" max="250" asp-for="Weight" /></p>
                        <span asp-validation-for="Weight" class="red-text"></span>
                    </div>


                    <div class="input-field">
                        <i class="prefix"></i><label asp-for="Height"></label><br />
                        <p class="range-field"><input type="range" id="weightRange" min="100" max="250" asp-for="Height" /></p>
                        <span asp-validation-for="Height" class="red-text"></span>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="card darken-1">
                                <div class="card-content">
                                    <span class="card-title">Interest List</span>
                                    <table>
                                        <div class="row col s12">
                                            @{
                                                int cnt = 0;
                                                List<AssignedInterestData> interests = ViewBag.Interests;

                                                foreach (var interest in interests)
                                                {
                                                    if (cnt++ % 3 == 0)
                                                    {
                                                    @:</div><div class="row col s12">
                                                    }
                                                    @:<div class="col s4">
                                                        <label class="">
                                                            <input type="checkbox"
                                                                   name="selectedInterests"
                                                                   value="@interest.InterestID"
                                                                   @(Html.Raw(interest.Assigned ? "checked='checked'" : "")) />
                                                            <span> @interest.InterestName</span>
                                                        </label>
                                                    @:</div>
                                                }
                                            @:</div>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-action">
                        <p class="center-align">
                            <a id="FormSubmitButton" value="Save" style="position: relative; bottom: -60px;" class="btn btn-floating btn-large waves-effect blue pulse">
                                <i class="material-icons">done</i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

