@model User

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Profile";
    var currentUserId = ViewBag.CurrentUserId;
    var userImages = Model.Gallery;
    var userFriends = (List<User>) ViewBag.Friends;
    var totalUserLikes = ViewBag.PhotosLikes;
    var isModeUserFilled = ViewBag.IsModelUserFilled;
    var userInterests = ViewBag.Interests;
    var userRoles = ViewBag.Roles;
    var userMets = ViewBag.Mets;
    var userVotes = ViewBag.Votes.Count;
}

<section id="content">
    <div class="container">
        <div class="section">
            
            <div class="card" style="overflow: hidden;">
                <div class="row col s12 m12">
                    <div class="col s12 m12 card-image waves-effect waves-block waves-light" style="height: 250px; z-index: 0;">
                        <img class="activator" src="~/images/userimages/@Model.BackgroundImageSrc" alt="user background">
                    </div>
                    <div class=" col s12 m12 no-border no-padding" style="position: relative; top: -80px; left: 30px; width: 150px; height: 150px;">
                        <img src="~/images/userimages/@Model.ProfileImageSrc" alt="profile image" class="circle z-depth-2 responsive-img" style="height: 100%; width: 100%">
                        @if (Model.UserName == User.Identity.Name)
                        {
                            <a style="position: relative; top: -95px; left: 125px;" class="btn btn-floating green"
                               asp-controller="Image"
                                asp-action="Create"
                                asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)"
                               ><i class="material-icons">add_a_photo</i></a>
                        }
                        @if (!userFriends.Any(_ => _.UserName == User.Identity.Name) && Model.UserName != User.Identity.Name)
                        {
                            <a style="position: relative; top: -95px; left: 125px;" class="btn btn-floating blue"><i class="material-icons">person_add</i></a>
                        }
                        @if (userFriends.Any(_ => _.UserName == User.Identity.Name))
                        {
                            <a style="position: relative; top: -95px; left: 125px;" class="btn btn-floating red"><i class="material-icons">person_add_disabled</i></a>
                        }

                    </div>
                </div>
                
                <div class="row"></div>
                <div class="row col s12 m6 card-content no-padding" style="margin-top: -160px;">
                    <ul>
                        <li class="col s2 m2"></li>
                        <li class="col s3 m3 no-cursor" >
                            <h4 class="card-title grey-text text-darken-4">@Model.FirstName @Model.LastName</h4>
                            <p class="medium-small grey-text">
                                Roles: @foreach (var r in userRoles)
                                {
                                    <text>@r </text>;
                                }
                            </p>
                        </li>
                        <li class="col s1 m1 hover-opacity" style="width: 90px;">
                            <a class="pointer-cursor" asp-controller="Friendships" asp-action="UserFriends" asp-route-id="@Model.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                <h4 class="card-title">@userFriends.Count() <i class="material-icons grey-text">supervised_user_circle</i></h4>
                                <p class="medium-small">Friends</p>
                            </a>
                        </li>
                        <li class="col s2 m1 hover-opacity" style="width: 90px;">
                            <a class="pointer-cursor" asp-controller="Image" asp-action="UserImages" asp-route-id="@Model.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                <h4 class="card-title">@userImages.Count() <i class="material-icons grey-text">images</i></h4>
                                <p class="medium-small">Photos</p>
                            </a>
                        </li>
                        <li class="col s1 m1 hover-opacity "style="width: 90px;">
                            <a class="pointer-cursor" asp-controller="Vote" asp-action="Votes" asp-route-id="@Model.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                <h4 class="card-title">
                                    @userVotes
                                    <i class="material-icons grey-text">star_half</i>
                                </h4>
                                <p class="medium-small">Votes</p>
                            </a>
                        </li>
                        <li class="col s1 m1 hover-opacity " style="width: 90px;">
                            <a class="pointer-cursor" asp-controller="Meet" asp-action="MeetsList" asp-route-id="@Model.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                <h4 class="card-title">@userMets <i class="material-icons grey-text">how_to_reg</i></h4>
                                <p class="medium-small">Mets</p>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
            <!--/ profile-page-header -->
            <!-- profile-page-content -->
            <div id="profile-page-content" class="row">
                <!-- profile-page-sidebar-->
                <div id="profile-page-sidebar" class="col s12 m4">
                    <!-- Profile About  -->
                    <a class="hover-opacity pointer-cursor tooltipped" data-position="left" data-tooltip="Rate Authentity" asp-controller="Vote" asp-action="Vote" asp-route-id="@Model.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                        <div class="card grey darken-4 hover-opacity">
                            <div class="card-content white-text">
                                <div class="card-title orange-text row">
                                    <div class="col s7 m7">Rating</div>
                                    <i class="col s1 m1 material-icons orange-text ">star</i>
                                    <i class="col s1 m1 material-icons orange-text ">star</i>
                                    <i class="col s1 m1 material-icons orange-text">star_half</i>
                                    <i class="col s1 m1 material-icons orange-text ">star_bordered</i>
                                    <i class="col s1 m1 material-icons orange-text ">star_bordered</i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="card cyan">
                        <div class="card-content white-text">
                            <span class="card-title">About Me!</span>
                            <script>
                                function toggleTruncate() {
                                    var el = document.getElementById("truncateEl1");
                                    if (el.classList.contains("truncate")) {
                                        el.classList = el.classList.remove("truncate");
                                    } else {
                                        el.setAttribute("class", "truncate");
                                    }
                                }
                            </script>
                            <a class="tooltipped blue-text text-lighten-4 pointer-cursor" data-position="top" data-tooltip="Click to expand"><p id="truncateEl1" class="truncate blue-text text-lighten-4" onclick="toggleTruncate()">@Model.Description</p></a>
                        </div>
                    </div>
                    <!-- Profile About  -->
                    <!-- Profile About Details  -->
                    <ul id="profile-page-about-details" class="collection z-depth-1">
                        <li class="collection-item grey">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">accessibility_new</i> Weight
                                </div>
                                <div class="col s7 right-align">@Model.Weight</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">accessibility_new</i>Height
                                </div>
                                <div class="col s7 right-align">@Model.Height</div>
                            </div>
                        </li>
                        <li class="collection-item grey">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">wc</i>Gender
                                </div>
                                <div class="col s7 right-align">@Model.Gender</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">visibility</i>Eyes
                                </div>
                                <div class="col s7 right-align">@Model.Eyes</div>
                            </div>
                        </li>
                        <li class="collection-item grey">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">cake</i> Birth date
                                </div>
                                <div class="col s7 right-align">
                                    @if (isModeUserFilled)
                                    {
                                        @Model.BirthDate.ToString().Remove(Model.BirthDate.ToString().Length - 9)
                                    }
                                    else
                                    {

                                        <text>Not set yet</text>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--/ Profile About Details  -->
                    <!-- Profile About  -->
                    <div class="card red accent-2">
                        <div class="card-content white-text center-align">
                            <p class="card-title">
                                <i class="material-icons">group_add</i> @userFriends.Count()
                            </p>
                            <p>Followers</p>
                        </div>
                    </div>
                    <!-- Profile About  -->
                    <!-- Profile feed  -->
                    <ul id="profile-page-about-feed" class="collection z-depth-1">

                        <li class="collection-item avatar">
                            <i class="material-icons circle teal accent-4">thumb_up</i>
                            <span class="title">TO DO</span>
                            <p>
                                Given Likes
                                <br>
                                <span class="ultra-small">12345</span>
                            </p>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">domain</i>
                            </a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle cyan">assessment</i>
                            <span class="title">TO DO</span>
                            <p>
                                Given Comments
                                <br>
                                <span class="ultra-small">12345</span>
                            </p>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">attach_money</i>
                            </a>
                        </li>
                    </ul>
                    <!-- Profile feed  -->
                    <!-- profile-page-sidebar-->
                    <!-- profile-page-wall -->
                </div>
                <div class="col s12 m8">
                    <!-- profile-page-wall-share -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card deep-purple darken-1">
                                <div class="card-tabs">
                                    <ul class="tabs tabs-fixed-width tabs-transparent">
                                        <li class="tab"><a href="#photoList" class=""><i class="material-icons" style="margin-top: 10px;">insert_photo</i> Photos</a></li>
                                        <li class="tab"><a class="active" href="#friendsList"><i class="material-icons" style="margin-top: 10px;">group</i> Friends</a></li>
                                        <li class="tab"><a class="" href="#interestsList"><i class="material-icons" style="margin-top: 10px;">directions_bike</i> Interests</a></li>
                                        <li class="indicator"></li>
                                    </ul>
                                </div>
                                <div class="card-content deep-purple lighten-2 z-depth-2">
                                    <div id="photoList" style="display: none;" class="active">
                                        @if (userImages.Count() < 1)
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No images added</h1>
                                                </div>
                                            </div>
                                        }
                                        <div class="container">
                                            @foreach (var item in userImages)
                                            {

                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <img class="activator" src="~/images/userimages/@Html.DisplayFor(modelItem => item.Src)" />
                                                    </div>
                                                    <div class="card-action">
                                                        <ul class="inline">
                                                            <li class="left">
                                                                <a asp-controller="Image" asp-action="UserImages" asp-route-id="@item.UserId" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)" class="blue-text center-align"><b>Likes @Html.DisplayFor(modelItem => item.Likes)</b></a>
                                                            </li>
                                                            <li class="right">
                                                                <a asp-controller="Image" asp-action="UserImages" asp-route-id="@item.UserId" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)" class="blue-text center-align"><b>Comments @Html.DisplayFor(modelItem => item.Comments)</b></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <br />
                                                </div>

                                            }
                                        </div>
                                    </div>

                                    <div id="friendsList" class="row" style="display: block;">

                                        @if (!userFriends.Any())
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No friends added</h1>
                                                </div>
                                            </div>
                                        }

                                        @foreach (var item in userFriends)
                                        {
                                            <div class="col m6@(userFriends.Count<2?"offset-l2":"")">
                                                <div class="card">
                                                    <div class="card-image inline">
                                                        <div class="aspct-rtio-box">
                                                            <div class="aspct-rtio-content">
                                                                <img src="~/images/userimages/@item.ProfileImageSrc">
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="card-action deep-purple darken-2">
                                                        <span class="card-title">
                                                            <a asp-controller="User" asp-action="Profile" asp-route-id="@item.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)"> @item.FirstName @item.LastName</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <div id="interestsList" class="" style="display: none;">
                                        @if (userInterests.Count < 1)
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No interests added</h1>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="collection">
                                                @foreach (var interest in userInterests)
                                                {
                                                    <a href="#!" class="collection-item">@interest.Name</a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

