@model SubHeaderViewModel

<div class="grey darken-3 z-depth-3" style="padding: 1vw; margin-top: -10px;">
    <div class="center">
        <p class="@Model.TitleColour" style="font-size: 3vw">@Model.Title<i style="vertical-align: bottom; font-size: 4vw !important;" class="inline-icon material-icons @Model.TitleColour">@Model.TitleIcon</i></p>
        <h5 class='@Model.MessageColor'>@Model.Message</h5>
    </div>
</div>