@model List<UserCardViewModel>
@using Microsoft.AspNetCore.Routing
@addTagHelper App.TheDate.Helpers.Helpers, App.TheDate.Helpers
@{
    List<UserCardLinkViewModel> links = (List<UserCardLinkViewModel>)ViewData["links"];
}
<div class="container">
    <div class="row center center-align">
        @foreach (var item in Model)
        {
            <div class="col m6 s12 l4 @((item == Model.FirstOrDefault() && Model.Count()==2?"offset-l2":((item == Model.FirstOrDefault() && Model.Count()==1?"offset-l4 offset-m3":""))))">
                <div class="card">
                    <div class="card-image col m12 s12 l12">
                        <div class="thumbnail no-border no-padding">
                            <img src="~/images/userimages/@item.User.ProfileImageSrc" class="responsive-img" />
                        </div>
                        <span class="card-title" style="background: rgba(0, 0, 0, 0.5); width: 100%">@Html.DisplayFor(m => item.User.FirstName) @Html.DisplayFor(m => item.User.LastName)</span>
                    </div>
                    <div class="card-action grey col m12 s12 l12">
                        <div class="center">
                            @foreach (var l in item.Links)
                            {
                                var x = new RouteValueDictionary(l.LinkHtmlAttributes);
                                var y = x.FirstOrDefault(_ => _.Key == "class");
                                var z = x.FirstOrDefault(_ => _.Key == "data-position");
                                var o = x.FirstOrDefault(_ => _.Key == "data-tooltip");
                                //@Html.IconActionLink(l.IconText, l.IconHtmlAttributes, l.LinkText, l.ActionName, l.Controller, new { id = item.User.Id } , l.LinkHtmlAttributes);
                                <a class="@y.Value" data-position="@z.Value" data-tooltip="@o.Value" asp-action="@l.Action" asp-controller="@l.Controller" asp-route-id="@item.User.Id"><i class="material-icons">@l.IconText</i></a>
                            }

                            @*@Html.IconActionLink("Test", new { style = "color: red;" }, "TestLinkText", "TestActionName", "TestControllerName", new { id = 1 }, new { @class = "blue" } );*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .thumbnail img {
        height: 250px;
        width: 250px;
    }
</style>
