
@model Guid;

@if (ViewData["delf_btn"].ToString() != null)
{
    <a class="btn btn-large rounded red tooltipped" data-position="top" data-tooltip="Delete Friend" asp-controller="Friendships" asp-action="Delete" asp-route-id="@Model" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
        <i class="material-icons">delete</i>
    </a>
}

@if (ViewData["addf_btn"].ToString() != null)
{
    <a class="btn btn-large rounded blue tooltipped" data-position="top" data-tooltip="Show Profile" asp-controller="User" asp-action="Profile" asp-route-id="@Model" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
        <i class="material-icons">info</i>
    </a>
}

@if (ViewData["accf_btn"].ToString() != null)
{
    <a class="btn btn-large rounded green tooltipped" data-position="top" data-tooltip="Accept Request" asp-controller="Friendships" asp-action="Profile" asp-route-id="@Model" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
        <i class="material-icons">check</i>
    </a>
}

