@using Microsoft.AspNetCore.Identity
@using App.Service.Abstract

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService _userService
@{
    User user = (User)await UserManager.GetUserAsync(User);

    var isFilled = (bool) (user==null)?false: await _userService.IsFilledAsync(_userService.CurrentUserId);
    var currentLocation = Url.RouteUrl(ViewContext.RouteData.Values);
    if (user == null) { user = new User(); }
}

<ul id="slide-out" class="sidenav blue white-text">

    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="~/images/userimages/NoProfileBackground.png">
                </div>
                <a asp-controller="User" asp-action="Index"><img class="circle" src="~/images/userimages/@user.ProfileImageSrc"></a>
                <a asp-controller="User" asp-action="Index"><span class="white-text name">Welcome @( isFilled ? user.FirstName : "New User" )</span></a>
                <a asp-controller="Manage"><span class="white-text email">@user.Email</span></a>
            </div>
        </li>
        <li><a class="collapsible-header white-text waves-effect" asp-controller="Explore" asp-action="Index"><i class="white-text material-icons">person_add</i>Explore</a></li>
        <li class="">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header white-text waves-effect waves-blue "><i class="material-icons white-text ">group</i>Friends <i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i></a>
                    <div class="collapsible-body z-depth-3">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" asp-controller="Friendships" asp-action="Index" asp-route-returnURL="@currentLocation">
                                    My Friends
                                    <i class="material-icons">group</i>

                                </a>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="waves-effect waves-blue" asp-controller="Friendships" asp-action="InvitationsSent" asp-route-returnURL="@currentLocation">Invites Sent<i class="material-icons">redo</i></a></li>
                            <li><a class="waves-effect waves-blue" asp-controller="Friendships" asp-action="InvitationsReceived" asp-route-returnURL="@currentLocation">Invites Received<i class="material-icons">undo</i></a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="waves-effect waves-blue" asp-controller="Meet" asp-action="Index" asp-route-returnURL="@currentLocation">Meets<i class="material-icons">how_to_reg</i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a asp-controller="Conversations" asp-action="Index" asp-route-returnURL="@currentLocation" class="collapsible-header white-text waves-effect waves-blue "><i class="material-icons white-text ">message</i>Messages </a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-returnURL="@currentLocation" class="collapsible-header white-text waves-effect waves-blue "><i class="material-icons white-text ">settings</i>Settings </a>
        </li>
        <li><a onclick="$('#HeaderForm').submit()" class="collapsible-header waves-effect waves-blue" >Logout<i class="material-icons">power_settings_new</i></a></li>
    }
    else
    {
        <li><a class="waves-effect" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a class="waves-effect" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    }
</ul>
<form asp-area="Identity"
      asp-page="/Account/Logout"
      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
      method="post"
      id="HeaderForm"
      class="navbar-right"></form>


