@model Conversation
@{
    ViewData["Title"] = "Conversation";
    IEnumerable<User> conversationUsers = ViewBag.ConversationUsers;
    IEnumerable<Message> messages = Model.Messages.OrderBy(_ => _.CreatedDate);
}
<div class="hide-on-small-and-down">
    <br /><br />
</div>    
<div class="row ">
    <div class="col s12 m8 l6 offset-m2 offset-l3 white z-depth-2">
        <div class="row">
            <div class="col s12">
                <h6 class="grey-text">@Model.Name</h6>
                <ul class="collapsible z-depth-0 no-border">
                    <li>
                        <h8 class="collapsible-header no-border z-depth-0 grey-text"><i class="material-icons">group</i>Conversation users...</h8>
                        <div class="collapsible-body col s12">
                            @await Html.PartialAsync("_UsersChips", conversationUsers)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row scrolling">
            @for(int i=0; i<messages.Count(); i++) 
            {
                var message = messages.ElementAt(i);
                var iO = message.Sender.UserName == User.Identity.Name;
                <div class=" col s12">
                    <div class='@(iO?"right":"left") col s1'>
                        @if (i + 1 >= messages.Count() || messages.ElementAt(i).Sender.UserName != messages.ElementAt(i+1).Sender.UserName)
                        {
                            <div class="valign-wrapper">
                                <img src="~/images/userimages/@message.Sender.ProfileImageSrc" alt="" class="circle" style='position:relative; @(iO?"right: 15px;":";") top: -10px; width: 40px; height: 40px;' />
                            </div>
                        }
                    </div>
                    <div class='center col s11'>
                        <div class="valign-wrapper @(iO?"right":"left")">
                            <div class="">
                                @if (iO)
                                {
                                    <a asp-controller="Messages"
                                       asp-action="Delete"
                                       asp-route-id="@message.Id"
                                    ><i style="position: relative; top: 5px; right: -10px;" class='left pointer-cursor tiny material-icons grey-text text-lighten-1 hover-opacity'>clear</i></a>@message.Content
                                }
                                else
                                {
                                    @message.Content
                                }
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        <div class="row">
            <div class="valign-wrapper col s12">
                @await Html.PartialAsync("_MessageForm", new Message() { ConversationId = Model.Id })
            </div>
        </div>
    </div>
</div>