@model Validators.ApplicationUserViewModel
@using Microsoft.AspNetCore.Identity
@using DatingApplicationV2.Areas.Identity
@using Enties
@using Services
@inject IUserService _userService
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
<div class="" style="margin-top: -8px;">
    <div class="col s12 card grey darken-2">
        <div class="row teal darken card-panel">
            <div class="col s2">
                <img src="~/images/NoProfileImage.png" alt="You have no profile photo" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    @if (_userService.IsFilled(Guid.Parse(UserManager.GetUserId(User))))
                    {
                        <h1 class="white-text">@Html.DisplayFor(model => model.FirstName) Profile</h1>
                    }
                    else
                    {
                        <h1 class="white-text">User Profile</h1>
                        <p>@ViewBag.Error</p>
                    }
                </span>
            </div>
        </div>
        <div class="row card-content">
            <div class="col s12">
                <ul class="collection with-header collapsible">
                    <li class="collection-header blue darken-1"><h4 class="white-text text-accent-3">Details</h4></li>
                    @if (_userService.IsFilled(Guid.Parse(UserManager.GetUserId(User))))
                    {
                        <li class="collection-item">
                            <div class="row">
                                <b class="col s2">@Html.DisplayNameFor(model => model.UserName)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.UserName)</p>
                            </div>
                        </li>
                        <li class="collection-item grey lighten-1">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.Email)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.Email)</p>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.FirstName)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.FirstName)</p>
                            </div>
                        </li>
                        <li class="collection-item grey lighten-1">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.LastName)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.LastName)</p>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.Eyes)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.Eyes)</p>
                            </div>
                        </li>
                        <li class="collection-item grey lighten-1">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.Gender)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.Gender)</p>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.Description)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.Description)</p>
                            </div>
                        </li>
                        <li class="collection-item grey lighten-1">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.Height)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.Height)</p>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <b class="col s2"> @Html.DisplayNameFor(model => model.Weight)</b>
                                <p class="col s10">@Html.DisplayFor(model => model.Weight)</p>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <b class="col s2"> Gallery </b>
                                <p class="col s10 blue-grey-text">If you wish to see user gallery <a asp-controller="Image" asp-action="UserImages" asp-route-id="@Model.Id ">click here!</a></p>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header collection-item grey lighten-1">
                                <div class="row">
                                    <b class="col s2">Interests</b>
                                    <p class="col s10 push-s5 teal-text">
                                        <i class="material-icons left">more_horiz</i>
                                        click here to expand the list
                                    </p>
                                </div>
                            </div>
                            <div class="collapsible-body collection-item">
                                <div class="row">
                                    <ul>
                                        @foreach (var x in Model.InterestsApplicationUser.Select(_ => _.Interest.Name))
                                        {
                                            <li>@x</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="collection-item red lighten-5">
                            <h4 class="pulse orange-text darken-4">This profile is no filled yet. Wait some time.</h4>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
