@model Enties.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService _userService
@{
    ViewData["Title"] = "Profile";
    var userFriends = (List<ApplicationUser>) ViewBag.Friends;
}
<link rel="stylesheet" href="~/css/profile.css" />
<section id="content">
    <!--start container-->
    <div class="container">
        <div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card" style="overflow: hidden;">
                <div class="card-image waves-effect waves-block waves-light" style="height: 250px; z-index: 0;">
                    <img class="activator" src="~/images/NoProfileBackground.png" alt="user background">
                </div>
                <div class="card-content">
                    <div style="position: relative; height: 70px; top: -44px;">
                        <div class="fixed-action-btn click-to-toggle direction-top direction-left" style="position: absolute; right: 24px;">
                            <a class="btn-floating btn-large red">
                                <i class="material-icons">menu</i>
                            </a>
                            <ul>
                                <li>
                                    <a class="btn-floating green" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);">
                                        <i class="material-icons">chat</i>
                                    </a>
                                </li>
                                <li>
                                    @if (Model.Id != _userService.CurrentUserId)
                                    {
                                        <a class="btn-floating red" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);"
                                            asp-controller="Friendships" asp-action="Delete" asp-route-user1ID="@Model.Id" asp-route-user2ID="@_userService.CurrentUserId">
                                            <i class="material-icons">delete_forever</i>
                                        </a>
                                        <a class="btn-floating blue" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);"
                                           asp-controller="Friendships" asp-action="Invite" asp-route-friendID="@Model.Id">
                                            <i class="material-icons">group_add</i>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top: -200px;">
                        <div class="card-profile-image col s12 m3 " style="width: 170px; position: relative; top: 30px;">
                            <img src="~/images/NoProfileImage.png" alt="profile image" class="circle z-depth-2 responsive-img">
                        </div>
                        <div class="col s12 m12 center-align">
                            
                        </div>
                        <div class="col s12 m3 offset-m3">
                            <h4 class="card-title grey-text text-darken-4">@Model.FirstName @Model.LastName</h4>
                            <p class="medium-small grey-text">
                                Roles: @foreach (var r in ViewBag.Roles)
                                {
                                    <text>@r </text>;
                                }
                            </p>
                        </div>
                        <div class="col s12 m2 center-align">
                            <h4 class="card-title grey-text text-darken-4">@userFriends.Count()</h4>
                            <p class="medium-small grey-text">Friends</p>
                        </div>
                        <div class="col s12 m2 center-align">
                            <h4 class="card-title grey-text text-darken-4">212512</h4>
                            <p class="medium-small grey-text">Likes</p>
                        </div>
                        <div class="col s12 m2 center-align">
                            <h4 class="card-title grey-text text-darken-4">1234</h4>
                            <p class="medium-small grey-text">Comments</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--/ profile-page-header -->
            <!-- profile-page-content -->
            <div id="profile-page-content" class="row">
                <!-- profile-page-sidebar-->
                <div id="profile-page-sidebar" class="col s12 m4">
                    <!-- Profile About  -->
                    <div class="card cyan">
                        <div class="card-content white-text">
                            <span class="card-title">About Me!</span>
                            <p>@Model.Description</p>
                        </div>
                    </div>
                    <!-- Profile About  -->
                    <!-- Profile About Details  -->
                    <ul id="profile-page-about-details" class="collection z-depth-1">
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">directions_bike</i> Total Interests
                                </div>
                                <div class="col s7 right-align">@Model.InterestsApplicationUser.Count()</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">cake</i> Birth date
                                </div>
                                <div class="col s7 right-align">
                                    @if (_userService.IsFilled(Model.Id))
                                    {
                                        @Model.BirthDate.ToString().Remove(Model.BirthDate.ToString().Length - 9)
                                    }
                                    else
                                    {

                                        <text>Not set yet</text>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--/ Profile About Details  -->
                    <!-- Profile About  -->
                    <div class="card red accent-2">
                        <div class="card-content white-text center-align">
                            <p class="card-title">
                                <i class="material-icons">group_add</i>@userFriends.Count()
                            </p>
                            <p>Followers</p>
                        </div>
                    </div>
                    <!-- Profile About  -->
                    <!-- Profile feed  -->
                    <ul id="profile-page-about-feed" class="collection z-depth-1">
                        <li class="collection-item avatar">
                            <img src="../../images/avatar/avatar-2.png" alt="" class="circle deep-orange accent-2">
                            <span class="title">TO DO</span>
                            <p>
                                To do to do to do to do to do
                                <br>
                                <span class="ultra-small">Second Line</span>
                            </p>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle teal accent-4">folder</i>
                            <span class="title">TO DO</span>
                            <p>
                                To do to do to do to do to do
                                <br>
                                <span class="ultra-small">Second Line</span>
                            </p>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">domain</i>
                            </a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle cyan">assessment</i>
                            <span class="title">TO DO</span>
                            <p>
                                To do to do to do to do to do
                                <br>
                                <span class="ultra-small">Second Line</span>
                            </p>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">attach_money</i>
                            </a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle red accent-2">play_arrow</i>
                            <span class="title">TO DO</span>
                            <p>
                                To do to do to do to do to do
                                <br>
                                <span class="ultra-small">Second Line</span>
                            </p>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">track_changes</i>
                            </a>
                        </li>
                    </ul>
                    <!-- Profile feed  -->
                    <!-- profile-page-sidebar-->
                    <!-- profile-page-wall -->
                </div>
                <div class="col s12 m8">
                    <!-- profile-page-wall-share -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card deep-purple darken-1">
                                <div class="card-tabs">
                                    <ul class="tabs tabs-fixed-width tabs-transparent">
                                        <li class="tab"><a href="#photoList" class=""><i class="material-icons" style="margin-top: 10px;">insert_photo</i> Photos</a></li>
                                        <li class="tab"><a class="active" href="#friendsList"><i class="material-icons"></i>Friends</a></li>
                                        <li class="tab"><a class="" href="#interestsList"><i class="material-icons"></i>Interests</a></li>
                                        <li class="indicator"></li>
                                    </ul>
                                </div>
                                <div class="card-content deep-purple lighten-2 z-depth-2">
                                    <div id="photoList" style="display: none;" class="active">
                                        @if (ViewBag.Photos != null)
                                           
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No images added</h1>
                                                </div>
                                            </div>
                                        }
                                            
                                        <div class="container">
                                            @foreach (Image item in ViewBag.Photos)
                                            {

                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <img class="activator" src="~/images/userimages/@Html.DisplayFor(modelItem => item.Src)" />
                                                        <div class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">
                                                            <span class="left">@Html.DisplayFor(modelItem => item.Title)</span>
                                                            @if (item.UserID == Guid.Parse(UserManager.GetUserId(User)))
                                                            {
                                                                <span class="right">
                                                                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn red waves-effect waves-light">
                                                                        <i class="material-icons">delete_forever</i>
                                                                    </a>
                                                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn blue waves-effect waves-light">
                                                                        <i class="material-icons">edit</i>
                                                                    </a>
                                                                </span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                                        <hr />
                                                        <p>
                                                            <span class="left"> 12 Likes</span>
                                                            <span class="right"> 4 Comments</span>
                                                        </p>
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="btn-floating grey" asp-route-id="@item.ID">
                                                            <i class="material-icons left">thumb_up</i>
                                                            Like it!
                                                        </a>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <span class="card-title grey-text text-darken-4 activator">Comments<i class="material-icons right">close</i></span>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div id="friendsList" class="" style="display: block;">
                                        <div class="container">
                                            <div class="row">
                                                @{
                                                    @if (!userFriends.Any())
                                                    {
                                                        <div class="valign-wrapper my-wrapper row">
                                                            <div class="col s12">
                                                                <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                                <h1 class="orange-text center">No friends added</h1>
                                                            </div>
                                                        </div>
                                                    }
                                                   
                                                    @foreach (var item in userFriends)
                                                    {
                                                        <div class="col m4">
                                                            <div class="card">
                                                                <div class="card-image">
                                                                    @*<img src="~/images/NoProfileImage.png" style="width: 400px; height: 350px;">*@
                                                                    <img src="http://www.ilikewallpaper.net/ipad-wallpapers/download/2268/Square-Pattern-ipad-wallpaper-ilikewallpaper_com.jpg">
                                                                    <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">
                                                                        @item.FirstName @item.LastName
                                                                    </span>
                                                                </div>
                                                                <div class="card-action grey">
                                                                    <div class="center">
                                                                        <a class="btn-floating red" asp-controller="Friendships" asp-action="Delete" asp-route-id="@item.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                                                            <i class="material-icons">delete</i>
                                                                        </a>
                                                                        <a class="btn-floating blue" asp-controller="User" asp-action="Profile" asp-route-id="@item.Id">
                                                                            <i class="material-icons">info</i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div id="interestsList" class="" style="display: none;">
                                        @if (!Model.InterestsApplicationUser.Any())
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No interests added</h1>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="collection">
                                                @foreach (var interest in Model.InterestsApplicationUser.Select(_ => _.Interest.Name))
                                                {
                                                    <a href="#!" class="collection-item">@interest</a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


