@model User

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Profile";
    var currentUserId = ViewBag.CurrentUserId;
    var userImages = Model.Gallery;
    var userFriends = (List<User>) ViewBag.Friends;
    var totalUserLikes = ViewBag.PhotosLikes;
    var isModeUserFilled = ViewBag.IsModelUserFilled;
    var userInterests = Model.Interests;
    var userRoles = ViewBag.Roles;
}

<section id="content">
    <!--start container-->
    <div class="container">
        <div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card" style="overflow: hidden;">
                <div class="card-image waves-effect waves-block waves-light" style="height: 250px; z-index: 0;">
                    <img class="activator" src="~/images/userimages/@Model.BackgroundImageSrc" alt="user background">
                </div>
                <div class="card-content">
                    <div style="position: relative; height: 70px; top: -44px;">
                        <div class="fixed-action-btn click-to-toggle direction-top direction-left" style="position: absolute; right: 24px;">
                            <a class="btn-floating btn-large red">
                                <i class="material-icons">menu</i>
                            </a>
                            <ul>
                                @if (currentUserId == Model.Id)
                                {
                                    <li>
                                        <a class="btn-floating orange" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);"
                                           asp-controller="User" asp-action="Edit" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn-floating purple" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);"
                                           asp-controller="Image" asp-action="Create" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                            <i class="material-icons">add_a_photo</i>
                                        </a>
                                    </li>
                                }

                                <li>
                                    <a class="btn-floating green" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);">
                                        <i class="material-icons">chat</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);">
                                        <i class="material-icons">chat</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating green" style="opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);">
                                        <i class="material-icons">chat</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" style="margin-top: -200px;">
                        <div class="card-profile-image col s12 m3 inline" style="width: 150px; height: 120px; position: relative; top: 30px;">
                            <img src="~/images/userimages/@Model.ProfileImageSrc" alt="profile image" class="circle z-depth-2 responsive-img" style="height: 100%; width: 100%">
                        </div>
                        <div class="col s12 m12 center-align">

                        </div>
                        <div class="col s12 m3 offset-m3">
                            <h4 class="card-title grey-text text-darken-4">@Model.FirstName @Model.LastName</h4>
                            <p class="medium-small grey-text">
                                Roles: @foreach (var r in userRoles)
                                {
                                    <text>@r </text>;
                                }
                            </p>
                        </div>
                        <div class="col s12 m2 center-align">
                            <h4 class="card-title grey-text text-darken-4">@userFriends.Count()</h4>
                            <p class="medium-small grey-text">Friends</p>
                        </div>
                        <div class="col m6 right">
                            <div class="col m12">
                                <div class="col m1 right"><i class="material-icons">grade</i></div>
                                <div class="col m1 right"><i class="material-icons">grade</i></div>
                                <div class="col m1 right"><i class="material-icons orange-text">grade</i></div>
                                <div class="col m1 right"><i class="material-icons orange-text">grade</i></div>
                                <div class="col m1 right"><i class="material-icons orange-text">grade</i></div>
                                <div class="col m2 right"><b class="orange-text">Rating</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ profile-page-header -->
            <!-- profile-page-content -->
            <div id="profile-page-content" class="row">
                <!-- profile-page-sidebar-->
                <div id="profile-page-sidebar" class="col s12 m4">
                    <!-- Profile About  -->
                    <div class="card cyan">
                        <div class="card-content white-text">
                            <span class="card-title">About Me!</span>
                            <p>@Model.Description</p>
                        </div>
                    </div>
                    <!-- Profile About  -->
                    <!-- Profile About Details  -->
                    <ul id="profile-page-about-details" class="collection z-depth-1">
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">directions_bike</i> Total Interests
                                </div>
                                <div class="col s7 right-align">@Model.Interests.Count()</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">collections</i>Images Added
                                </div>
                                <div class="col s7 right-align">@userImages.Count()</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5">
                                    <i class="material-icons left">cake</i> Birth date
                                </div>
                                <div class="col s7 right-align">
                                    @if (isModeUserFilled)
                                    {
                                        @Model.BirthDate.ToString().Remove(Model.BirthDate.ToString().Length - 9)
                                    }
                                    else
                                    {

                                        <text>Not set yet</text>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--/ Profile About Details  -->
                    <!-- Profile About  -->
                    <div class="card red accent-2">
                        <div class="card-content white-text center-align">
                            <p class="card-title">
                                <i class="material-icons">group_add</i> @userFriends.Count()
                            </p>
                            <p>Followers</p>
                        </div>
                    </div>
                    <!-- Profile About  -->
                    <!-- Profile feed  -->
                    <ul id="profile-page-about-feed" class="collection z-depth-1">

                        <li class="collection-item avatar">
                            <i class="material-icons circle teal accent-4">thumb_up</i>
                            <span class="title">TO DO</span>
                            <p>
                                Given Likes
                                <br>
                                <span class="ultra-small">12345</span>
                            </p>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">domain</i>
                            </a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle cyan">assessment</i>
                            <span class="title">TO DO</span>
                            <p>
                                Given Comments
                                <br>
                                <span class="ultra-small">12345</span>
                            </p>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">attach_money</i>
                            </a>
                        </li>
                    </ul>
                    <!-- Profile feed  -->
                    <!-- profile-page-sidebar-->
                    <!-- profile-page-wall -->
                </div>
                <div class="col s12 m8">
                    <!-- profile-page-wall-share -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card deep-purple darken-1">
                                <div class="card-tabs">
                                    <ul class="tabs tabs-fixed-width tabs-transparent">
                                        <li class="tab"><a href="#photoList" class=""><i class="material-icons" style="margin-top: 10px;">insert_photo</i> Photos</a></li>
                                        <li class="tab"><a class="active" href="#friendsList"><i class="material-icons" style="margin-top: 10px;">group</i> Friends</a></li>
                                        <li class="tab"><a class="" href="#interestsList"><i class="material-icons" style="margin-top: 10px;">directions_bike</i> Interests</a></li>
                                        <li class="indicator"></li>
                                    </ul>
                                </div>
                                <div class="card-content grey lighten-2 z-depth-2">
                                    <div id="photoList" style="display: none;" class="active">

                                        @if (!userImages.Any())
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No images added</h1>
                                                </div>
                                            </div>
                                        }
                                        <div class="container">
                                            @foreach (var item in userImages)
                                            {

                                                <div class="card deep-purple lighten-2">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <img class="activator" src="~/images/userimages/@Html.DisplayFor(modelItem => item.Src)" />
                                                    </div>
                                                    <div class="card-action">
                                                        <ul class="inline">
                                                            <li class="left">
                                                                <a asp-controller="Image" asp-action="UserImages" asp-route-id="@item.UserId" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)" class="blue-text center-align"><b>Likes @Html.DisplayFor(modelItem => item.Likes)</b></a>
                                                            </li>
                                                            <li class="right">
                                                                <a asp-controller="Image" asp-action="UserImages" asp-route-id="@item.UserId" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)" class="blue-text center-align"><b>Comments @Html.DisplayFor(modelItem => item.Comments)</b></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <br />
                                                </div>

                                            }
                                        </div>
                                    </div>

                                    <div id="friendsList" class="row" style="display: block;">

                                        @if (!userFriends.Any())
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No friends added</h1>
                                                </div>
                                            </div>
                                        }

                                        @foreach (var item in userFriends)
                                        {
                                            <div class="col m6@(userFriends.Count<2?"offset-l2":"")">
                                                <div class="card">
                                                    <div class="card-image inline">
                                                        <div class="aspct-rtio-box">
                                                            <div class="aspct-rtio-content">
                                                                <img src="~/images/userimages/@item.ProfileImageSrc">
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="card-action deep-purple darken-2">
                                                        <span class="card-title">
                                                            <a asp-controller="User" asp-action="Profile" asp-route-id="@item.Id" asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)"> @item.FirstName @item.LastName</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <div id="interestsList" class="" style="display: none;">
                                        @if (!userInterests.Any())
                                        {
                                            <div class="valign-wrapper my-wrapper row">
                                                <div class="col s12">
                                                    <div class="col s12 center"><i class="material-icons orange-text" style="font-size: 150px;">sentiment_dissatisfied</i></div>
                                                    <h1 class="orange-text center">No interests added</h1>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="collection">
                                                @foreach (var interest in userInterests)
                                                {
                                                    <a href="#!" class="collection-item">@interest.Interest.Name</a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

