@using Pagination;
@model PaginatedList<ApplicationUserViewModel>

@{
    ViewData["Title"] = "Users"; 
}

<div class="grey darken-3 z-depth-2" style="padding: 1vw; margin-top: -10px;">
    <div class="center">
        <p class="white-text" style="font-size: 3vw;">@ViewData["Title"]<i style="vertical-align: bottom; font-size: 4vw !important;" class="inline-icon material-icons">edit</i></p>
    </div>
</div>

<div class="container">
    <div class="row col s12 m12 l12">
        <div class="col s12 m12 l12">
            <ul class="collection z-depth-3 white">
                @foreach (var item in Model)
                {
                    <li class="collection-item avatar">
                        <div class="row">
                            <img src="~/images/userimages/@item.ProfileImageSrc" alt="" class="circle">
                            <div class="col m6">
                                <span class="title">
                                    <b class="hoverable">
                                        <a class="pointer-cursor hover-opacity"
                                           asp-controller="User"
                                           asp-action="Profile"
                                           asp-route-id="@item.Id"
                                           asp-route-returnURL="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                        </a>
                                    </b>
                                </span><br />
                                Born: @Html.DisplayFor(modelItem => item.BirthDate)
                            </div>
                        </div>
                    </li>
                }

                <li class="">
                    <br />
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="row col s12">
                        <div class="col s6 m6 l6 left-align">
                            <ul class="pagination">
                                <li><label>Items per Site</label></li>
                                <li class="@(ViewData["PageSize"].ToString() == "1" ? "waves-effect active" : "waves-effect")">
                                    <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageSize="1"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]">1</a>
                                </li>
                                <li class="@(ViewData["PageSize"].ToString() == "5" ? "waves-effect active" : "waves-effect")">
                                    <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageSize="5"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]">5</a>
                                </li>
                                <li class="@(ViewData["PageSize"].ToString() == "10" ? "waves-effect active" : "waves-effect")">
                                    <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageSize="10"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]">10</a>
                                </li>
                                <li class="@(ViewData["PageSize"].ToString() == "20" ? "waves-effect active" : "waves-effect")">
                                    <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageSize="20"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]">20</a>
                                </li>
                                <li class="@(ViewData["PageSize"].ToString() == "40" ? "waves-effect active" : "waves-effect")">
                                    <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageSize="40"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]">40</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s6 m6 l6 right-align white">

                            <ul class="pagination">
                                <li><label>Site</label></li>
                                <li class="@prevDisabled">
                                    <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-page="@(Model.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       asp-route-pageSize="@ViewData["PageSize"]">
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="@(i == Model.PageIndex ? "waves-effect active" : "waves-effect")">
                                        <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                           asp-route-page="@i"
                                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                           asp-route-pageSize="@ViewData["PageSize"]">@i</a>
                                    </li>
                                }

                                <li class="@nextDisabled">
                                    <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-page="@(Model.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       asp-route-pageSize="@ViewData["PageSize"]">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m3">
        </div>
    </div>
</div>
<br /><br />
